body{
  background-color: rgb(95, 13, 13);
  color: aliceblue;
}
h1{
  background-color: burlywood;
  color: black;
}
h2{
  background-color: rebeccapurple;
  color: antiquewhite
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
  font-family: 'Lucida Sans', sans-serif;
}
p{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#titulo{
  background-color: white;
}
#paragrafo{
  background-color: aqua;
  color: black;
}